In [1]:
import pandas as pd

import gc

train = pd.read_csv('train_2015.csv')
test = pd.read_csv('test_2015.csv')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
train.head(10)

,RateCodeID,VendorID,dropoff_latitude,dropoff_longitude,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
0,1.000,2,40.756,-73.992,0.000,12.500,0.300,0.500,1,2,40.739,-73.977,N,0.000,0.000,13.300,2015-01-30 08:47:45,2015-01-30 08:29:43,1.840
1,1.000,1,40.757,-73.970,1.000,14.500,0.300,0.500,1,2,40.781,-73.984,N,0.000,0.000,16.300,2015-01-20 16:22:23,2015-01-20 16:00:48,2.400
2,1.000,1,40.773,-73.965,0.500,4.000,0.300,0.500,1,2,40.770,-73.958,N,0.000,0.000,5.300,2015-01-10 20:04:19,2015-01-10 20:01:33,0.500
3,1.000,1,40.837,-73.943,0.500,24.500,0.300,0.500,3,1,40.739,-74.000,N,5.200,0.000,31.000,2015-01-08 02:22:38,2015-01-08 02:01:12,8.000
4,1.000,1,40.741,-73.993,0.000,7.500,0.300,0.500,1,1,40.744,-73.977,N,1.650,0.000,9.950,2015-01-31 12:26:52,2015-01-31 12:18:10,1.200
5,1.000,2,40.757,-73.928,0.500,17.000,0.300,0.500,1,1,40.752,-73.993,N,3.500,0.000,21.800,2015-01-18 00:31:17,2015-01-18 00:13:49,4.770
6,1.000,1,40.765,-73.959,0.000,6.000,0.300,0.500,1,1,40.762,-73.969,N,1.350,0.000,8.150,2015-01-19 13:19:55,2015-01-19 13:13:37,0.800
7,1.000,2,40.756,-73.979,0.000,11.500,0.300,0.500,1,2,40.773,-73.955,N,0.000,0.000,12.300,2015-01-31 12:44:31,2015-01-31 12:30:13,2.190
8,1.000,1,40.767,-73.984,0.500,16.500,0.300,0.500,2,1,40.722,-73.981,N,0.000,0.000,17.800,2015-01-24 01:30:46,2015-01-24 01:10:49,4.100
9,1.000,1,40.708,-74.015,0.500,17.000,0.300,0.500,1,1,40.747,-73.974,N,3.650,0.000,21.950,2015-01-16 22:15:52,2015-01-16 22:05:13,5.400

In [4]:
longLim = [-74.25, -73.65] 
latLim  = [40.5, 41]

train = train[(train['pickup_longitude'] >= longLim[0]) & (train['pickup_longitude'] <= longLim[1])]
train = train[(train['dropoff_longitude'] >= longLim[0]) & (train['dropoff_longitude'] <= longLim[1])]
train = train[(train['pickup_latitude'] >= latLim[0]) & (train['pickup_latitude'] <= latLim[1])]
train = train[(train['dropoff_latitude'] >= latLim[0]) & (train['dropoff_latitude'] <= latLim[1])]
train = train.reset_index(drop=True)

In [6]:
temp = train[:10000]

In [7]:
import time

start_time = time.time()

from geopy import distance

temp['geo_dist']  = temp.apply(lambda x: distance.distance((x['dropoff_latitude'],x['dropoff_longitude']), 
                                        (x['pickup_latitude'], x['pickup_longitude'])).miles, axis=1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 4.03974461555481 seconds ---

C:\Users\edwin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
temp.head(10)

,RateCodeID,VendorID,dropoff_latitude,dropoff_longitude,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,geo_dist
0,1.000,2,40.756,-73.992,0.000,12.500,0.300,0.500,1,2,40.739,-73.977,N,0.000,0.000,13.300,2015-01-30 08:47:45,2015-01-30 08:29:43,1.840,1.361
1,1.000,1,40.757,-73.970,1.000,14.500,0.300,0.500,1,2,40.781,-73.984,N,0.000,0.000,16.300,2015-01-20 16:22:23,2015-01-20 16:00:48,2.400,1.744
2,1.000,1,40.773,-73.965,0.500,4.000,0.300,0.500,1,2,40.770,-73.958,N,0.000,0.000,5.300,2015-01-10 20:04:19,2015-01-10 20:01:33,0.500,0.426
3,1.000,1,40.837,-73.943,0.500,24.500,0.300,0.500,3,1,40.739,-74.000,N,5.200,0.000,31.000,2015-01-08 02:22:38,2015-01-08 02:01:12,8.000,7.405
4,1.000,1,40.741,-73.993,0.000,7.500,0.300,0.500,1,1,40.744,-73.977,N,1.650,0.000,9.950,2015-01-31 12:26:52,2015-01-31 12:18:10,1.200,0.860
5,1.000,2,40.757,-73.928,0.500,17.000,0.300,0.500,1,1,40.752,-73.993,N,3.500,0.000,21.800,2015-01-18 00:31:17,2015-01-18 00:13:49,4.770,3.429
6,1.000,1,40.765,-73.959,0.000,6.000,0.300,0.500,1,1,40.762,-73.969,N,1.350,0.000,8.150,2015-01-19 13:19:55,2015-01-19 13:13:37,0.800,0.564
7,1.000,2,40.756,-73.979,0.000,11.500,0.300,0.500,1,2,40.773,-73.955,N,0.000,0.000,12.300,2015-01-31 12:44:31,2015-01-31 12:30:13,2.190,1.738
8,1.000,1,40.767,-73.984,0.500,16.500,0.300,0.500,2,1,40.722,-73.981,N,0.000,0.000,17.800,2015-01-24 01:30:46,2015-01-24 01:10:49,4.100,3.140
9,1.000,1,40.708,-74.015,0.500,17.000,0.300,0.500,1,1,40.747,-73.974,N,3.650,0.000,21.950,2015-01-16 22:15:52,2015-01-16 22:05:13,5.400,3.458

In [9]:
import time

start_time = time.time()

from geopy import distance

train['geo_dist']  = train.apply(lambda x: distance.distance((x['dropoff_latitude'],x['dropoff_longitude']), 
                                        (x['pickup_latitude'], x['pickup_longitude'])).miles, axis=1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 1095.1960639953613 seconds ---

In [14]:
train.to_csv('train_geo_dist.csv',index=False)

In [11]:
longLim = [-74.25, -73.65] 
latLim  = [40.5, 41]

test = test[(test['pickup_longitude'] >= longLim[0]) & (test['pickup_longitude'] <= longLim[1])]
test = test[(test['dropoff_longitude'] >= longLim[0]) & (test['dropoff_longitude'] <= longLim[1])]
test = test[(test['pickup_latitude'] >= latLim[0]) & (test['pickup_latitude'] <= latLim[1])]
test = test[(test['dropoff_latitude'] >= latLim[0]) & (test['dropoff_latitude'] <= latLim[1])]
test = test.reset_index(drop=True)

In [12]:
import time

start_time = time.time()

from geopy import distance

test['geo_dist']  = test.apply(lambda x: distance.distance((x['dropoff_latitude'],x['dropoff_longitude']), 
                                        (x['pickup_latitude'], x['pickup_longitude'])).miles, axis=1)

print("--- %s seconds ---" % (time.time() - start_time))

--- 545.7741239070892 seconds ---

In [15]:
test.to_csv('test_geo_dist.csv',index=False)